body {
	background-image: url("images/kitchen.jpg")
}

img {
	height: 300px;
}

h1 {
	background-color: gray;
}

h2 {
	background-color: beige;
	text-align: center;
	font-size: 25px;
}

h4 {
	text-align: center;
	font-family: cursive;
	font-size: 30px;
}

h3 {
	font-size: 17px;
	font-family: palatino;
	color: black;
	font-style: bold;
	background-color: #f7cac9;
	opacity: 0.75;
	margin: 10px 90px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

p {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	font-family: cursive;
}

.bathimages {
	margin-left: 20px;
	background-color: black;
}

#footer {
	background-color: #48cccd;
	margin: 50px 300px;
}

